@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600;1,700;1,800&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.fix::before, .fix::after{
    content: "";
    display: table;
    clear: both;
}

ul{
    list-style: none;
}

body{
    font-size: 14px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4{
    font-weight: 700;
}

main{
    width: 1250px;
    margin: 0 auto;
}
.header {
    background-color: #e2d5d5;
    padding: 20px;
}
img{
    width: 100%;
}

.logo{
    float: left;
    width: 300px;
    margin-right: 30px;
}
.menu {
    float: right;
    width: 880px;
}
.menu ul{
    text-align: right;
    margin-top: 15px;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    color: #000000;
    text-decoration: none;
    padding: 15px 34px;
    display: block;
    font-size: 20px;
    transition: .3s;
}
/* .menu ul li a:last-child{
    padding-right: 0px;
} */
.menu ul li a:hover{
    background-color: crimson;
    color: whitesmoke;
}
.title{
    text-align: center;
    font-size: 45px;
    text-transform: capitalize;
    margin: 30px 0;
    display: block;
}
.service{
    float: left;
    width: 403px;
    margin-right: 20px;
    padding: 30px;
    background-color: darkcyan;
}

.service:last-child, .service-page .service:nth-child(4){
    margin-right: 0;
}
.service-page .service{
    width: 297.5px;
    margin-bottom: 50px;
}
.service h4{
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    margin: 20px 0;
    color: white;
    
}
.service p{
    font-size: 15px;
    color: whitesmoke;
}
.btn{
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 30px;
    background-color: tomato;
    display: inline-block;
    margin-top: 15px;
    font-size: 20px;
    color: whitesmoke;
    transition: .3s;
}
.btn:hover{
    background-color: rgb(197, 41, 14);
}

.about{
    margin: 30px 0;
}
.about-left{
    width: 80%;
    float: left;
}
.about-left h3, .about-menu h3{
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}
.about-left p{
    padding-bottom: 20px;
}
.about-menu{
    width: 20%;
    float: left;
    padding-left: 20px;
}
.about-menu ul li{
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(180, 176, 176);
    background-position: -8px -1px;

}
.about-menu ul li a{
    text-decoration: none;
    font-size: 18px;
    padding-left: 30px;
    display: block;
}
.about-menu ul li a:hover{
    color: tomato;
}

footer{
    height: 80px;
    background-color: darkcyan;
}
footer h3{
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}
/* about page */
.page-banner{
    background-size: cover;
    background-position: center;
    padding: 215px 0;
    position: relative;
    z-index: 2;
}
.page-banner::before, .page-banner::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #333;
    opacity: .30;
    z-index: -1;

}
.page-banner h2{
    text-align: center;
    color: #fff ;
    font-size: 50px;
    text-transform: capitalize;
}
.gallery{}
.single-gallery {
    float: left;
    width: 292px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.single-gallery:nth-child(4), .single-gallery:nth-child(8){
    margin-right: 0px;
}
.single-gallery iframe{

}

/* contact page */


.contact {
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    padding: 65px 0;
}
.contact h2, .contact-address h2{
    text-transform: capitalize;
    font-size: 35px;
    margin-bottom: 20px;
}
/* .contact {
    margin-top: 10px;
    float: left;
    width: 890px;
} */
form{
    width: 876px;
    float: left;
}
.contact input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.contact input[type = "button"]{
    background-color: tomato;
    font-size: 20px;
    color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 0;
    width: auto;
    padding: 10px 40px;
    cursor: pointer;
    transition: .3s;

}
.contact input[type = "button"]:hover{
    background-color: rgb(197, 41, 14);
}
.contact textarea{
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.contact-address{
    float: right;
    width: 300px;
    margin-left: 30px;
}
.contact-address span{
    text-transform: capitalize;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    
}
.map{}
.map iframe{
    width: 100%;
    border: 1px solid #ddd;
    height: 350px;
    margin-bottom: 20px;
}
.contact-address li{
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 10px;
}
.contact-address i{
}
